<div class="response">
  <div class="question">
    <p><%= @question %></p>
      <br>
    <p class="signature">--You</p>
  </div>

    <br>

  <div class="answer">
    <p class="coach-answer"><%= @answer %></p>
      <br>
    <p class="signature">--Your coach</p>
  </div>
</div>

<br>

<p class="link-new-qst">
<%= link_to "Ask a new question", ask_path %>
</p>
